h2 {
	font-family: Arial, Helvetica, sans-serif;
    color: #232323;
}

p{
	font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;	
    color: rgb(12, 108, 242);
    font-weight: 500;
}

button {
	font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: transparent;
    color: rgb(12, 108, 242);
    border: 1px solid rgba(5, 24, 61, 0.1);
    line-height: 1.25rem;
    padding: 0.25rem 1rem;
    height: 3rem;
    border-radius: 0.5rem;
    width: fit-content;
    font-size: 1rem;
}